extends ../layout/main-layout.pug

block content 
    form(action="/admin/edit-category", method="POST") 
        input(type="hidden" name='_csrf' value=`${csrfToken}`)
        input(type="hidden" name='id' value=`${category._id}`)

        .form-group.row 
            label(form='name').col-sm-2.col-form-label Kategori Adı
            .col-sm-10 
                input.form-control(type='text' name='name' value=`${category.name}`)

        .form-group.row 
            label(form='description').col-sm-2.col-form-label Kategori Adı
            .col-sm-10 
                textarea.form-control(name='description' cols='30' rows='10' value=`${category.description}`)

        .form-group.row 
            .col-sm-10.offset-sm-2  
                input(type="submit" value='Save Category').btn.btn-primary