extends ../layout/main-layout.pug

block content
    h1 Reset Password

    form(action="/new-password", method="POST") 
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        input(type="hidden" name="userId" value=`${userId}`)
        input(type="hidden" name="passwordToken" value=`${passwordToken}`)

        div.mb-3
            label(for="password").form-label Yeni Şifre 
            input(type="password" name="password").form-control#exampleInputEmail1
           
        button(type="submit").btn.btn-primary Şifreyi Yenile
