extends ../layout/main-layout.pug

block content
    h1.home-title.text-center Kaydol
    .container.p-5 

        form(action="/register", method="POST") 
            input(type="hidden" name="_csrf" value=`${csrfToken}`)
            div.mb-3
                label(for="name").form-label İsim-Soyisim
                input(type="name" name="name" aria-describedby="emailHelp").form-control#exampleInputEmail1

            div.mb-3
                label(for="exampleInputEmail1").form-label Email 
                input(type="email" name="email" aria-describedby="emailHelp").form-control#exampleInputEmail1
            
            div.mb-3
                label(for="password").form-label Şifre 
                input(type="password" name="password" aria-describedby="emailHelp").form-control#exampleInputEmail1
            
            button(type="submit").btn.btn-primary Kaydol
