footer.bg-dark.text-center.text-lg-start.text-white
    div.container.p-4
      div.row.mt-4.justify-content-center
        div.col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Sosyal Medya

          ul.list-unstyled.mb-0
            li
              a.text-white(href="#") 
                i.fas.fa-instagram.fa-fw.fa-sm.me-2
                | İnstagram
            li
              a.text-white(href="#") 
                i.fas.fa-google.fa-fw.fa-sm.me-2
                | Google
            li
              a.text-white(href="#") 
                i.fas.fa-x.fa-fw.fa-sm.me-2
                | X
        
        div.col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase İletişim

          ul.list-unstyled
            li.text-white
                i.fas.fa-telephone.fa-fw.fa-sm.me-2
                | Telefon : +90 (123) 456 78 90
            li.text-white
                i.fas.fa-mail.fa-fw.fa-sm.me-2
                | Mail : exemple@icloud.com
            
        div.col-lg-3.col-md-6.mb-4.mb-md-0
          h5.text-uppercase Adres

          ul.list-unstyled
            li.text-white The BookStore
            li.text-white 123 Street
            li.text-white 05765 NY
            li.text-white 
                i.fas.fa-briefcase.fa-fw.fa-sm.me-2
                | Agara Cafe Restorant
        
    div.text-center.p-3(style="background-color: rgba(0, 0, 0, 0.2)")
      | © 2021 Created By Dy
     
    
