extends ../layout/main-layout.pug

block content 
    .errorPage 
        h1 SANIRIM SAYFA İÇİNDE KAYBOLDUN 
        h3 Aradığın Sayfayı  Bulamadık :'(
        button 
            a(href="/") Anasayfa'ya Dönmek İçin Tıkla   

