extends ../layout/main-layout.pug

block content
    .container.d-flex.flex-column.align-items-center
        h1.home-title.mb-5 Hakkımızda
        img(src="/img/cafe_images/cafe_bg2.jpg", alt="").about-img.mb-5
        p.text-center 
            |Agara Cafe, 2022 yılında Ardahan'ın tarihi merkezinde, Ardahan Kalesi'nin hemen yanında kurulmuş bir kafe olarak hayat buldu. Kökeni, bölgenin eski adı olan ve Gürcüce'de "köy" veya "kasaba" anlamına gelen Agara'ya dayanır.
            |Agara, tarihsel Gürcistan'ın önemli bölgelerinden biri olan Samtshe'de, Potshovi Vadisi'nde yer alır. Erken ve geç orta çağda Gürcü krallıklarının yönetiminde bulunan bu yerleşim, Osmanlı döneminde de önemini korudu. Osmanlılar, 16. yüzyılın ortalarında Samtshe Atabeyliği'nden ele geçirdikleri Agara'yı, defterlerinde Gürcüce olarak Agara (اكرە) şeklinde kaydettiler.
            |Agara Cafe olarak bizler, bu zengin tarih ve kültürel mirası günümüze taşıyan bir mekanız. Misafirlerimize, sadece lezzetli yemekler ve içecekler sunmakla kalmıyor, aynı zamanda tarihin derinliklerine bir yolculuk yapma fırsatı da sunuyoruz. Eski Gürcü krallıklarının izlerini taşıyan bu bölgede, her bir misafirimizle birlikte yeni bir hikaye yazıyoruz.
            |Agara Cafe'de, yöresel lezzetlerle donatılmış bir menü sunuyoruz. Uzman şeflerimiz, yerel malzemeleri kullanarak özenle hazırladıkları yemeklerle damaklarınıza unutulmaz bir tat sunuyorlar. Aynı zamanda, sıcak ve samimi bir ortamda, dostlarınız ve sevdiklerinizle keyifli vakit geçirmenizi sağlıyoruz.
            |Biz Agara Cafe olarak, sadece bir kafe değil, aynı zamanda tarih ve lezzetin buluştuğu bir noktayız. Sizleri, Agara'nın eşsiz atmosferinde ağırlamaktan mutluluk duyarız.
            |Gelip bizi ziyaret edin, sizleri ağırlamaktan ve sizlere bu benzersiz deneyimi yaşatmaktan mutluluk duyarız.

